.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  a {
    text-decoration: none;
    color: black;
    &.selected {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
